#quick-slot-window
{
  position: absolute;
  left: 5%;
  bottom: 5%;
  flex-direction: row;
  align-items: center;
  border-color: black;
  border-width: 2px;
}

.quick-slot-window-item-container
{
 border-color: grey; 
 border-width: 1px;
 width: 200px;
 height: 200px;
}
