#quick-slot-window-container
{
  position: absolute;
  left: 5%;
  bottom: 5%;
  flex-direction: row;
  align-items: center;
  border-color: black;
  border-width: 2px;
  width: 1000px;
  height: 200px;
}

.quick-slot-window-item-box
{
  border-color: grey; 
  border-width: 1px;
  min-width: 180px;
  min-height: 150px;
}
